<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos necesarios -->
    <!-- Include this permission to grab user's general location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymIOT"
        tools:targetApi="31">

        <meta-data
            android:name="com.mapbox.token"
            android:value="pk.eyJ1IjoibWF0aWFzaGRnIiwiYSI6ImNtMmNncWdoMjE0bzQya24xa3J3OWs5a3QifQ.Y9F-Fg4-jFDfBoe6Bj67Lw" />

        <activity
            android:name=".Activity.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GymProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.GymIOT" /> <!-- Register Gym Activity (nombre corregido) -->
        <activity
            android:name=".Activity.RegisterGymActivity"
            android:exported="false"
            android:label="@string/title_activity_register_gym"
            android:theme="@style/Theme.GymIOT" /> <!-- Intro Activity - Principal con Intent Filter -->
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" /> <!-- Signup Activity -->
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" /> <!-- Base Activity -->
        <activity
            android:name=".Activity.BaseActivity"
            android:exported="false" />
    </application>

</manifest>